{% extends 'base.html.twig' %}

{% block title %}Modifier un message{% endblock %}

{% block body %}

<h1 class="text-xl">Modifier un message</h1>

{{ form_start(form) }}
    {{ form_row(form.content) }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}

{% endblock %}
