{#
This helps sending a new message with a box.
Parameters:
- actionPath: string - The path to send the form data to
#}

<form method="POST" action="{{ actionPath }}" class="flex flex-col drop-shadow-lg bg-background p-4 rounded-lg gap-1">
  <div class="w-full rounded-lg p-3 drop-shadow-lg bg-white border flex flex-col">
    <textarea id="content" name="content" rows="4" placeholder="Votre texte ici..."></textarea>
    <button type="submit" class="bg-secondary text-white py-2 px-4 rounded-full hover:bg-primary hover:text-white_text font-medium self-end">Envoyer</button>
  </div>
</form>
